@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p align="center">

    Our school teaches the traditional art of Tae Kwon Do to students of all ages and
    abilities.It practices a traditional martial art and our school encourages openness,
    a sharing of ideas across the martial arts spectrum. Tae Kwon Do, because of its
    ability to improve focus and physical agility, flexibility, and strength, a difference
    can be felt even after a short time of training.

</p>
