@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img src="~/images/image1.jpg" />
<address>
    <strong>Member 1:</strong>   <a href="mailto:Sneha@gmail.com">Sneha@gmail.com</a><br />
    <strong>Member 2:</strong> <a href="mailto:Mounika@gmail.com">Mounika@gmail.com</a>
</address>