@{
    ViewBag.Title = "Home Page";
}

    <div>
        <br /><br /><br /><br /><br />
        <h1 align="center" style="color:indigo">Welcome to Stephanos Taekwondo School</h1>



        <img src="~/images/image1.jpg" />

    </div>



